name: Build & Test

on:
  pull_request:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build:
    name: Building & testing @bitwarden/sm-action for - ${{ matrix.settings.os }}
    runs-on: ${{ matrix.settings.os || 'ubuntu-24.04' }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          - os: macos-15
            target: x86_64-apple-darwin
            build: |
              npm run dist
              npm run test

          - os: windows-2022
            target: x86_64-pc-windows-msvc
            build: |
              npm run dist
              npm run test

          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
            build: |
              npm run dist
              npm run test
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: 20
          cache-dependency-path: "**/package-lock.json"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: ${{ matrix.settings.build }}
